@use "../../styles/global.scss" as *;
.feed-wrapper {
  @include flex-column;
  align-items: center;
  padding-bottom: 20px;
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .loader {
    color: $green;
    margin-top: 20px;
    animation: loader 1s infinite;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
